@if (!isEditing) {
<div class="table-container">
    <h1 style="text-align: center;">Medical Profile</h1>

    <table class="responsive-table">
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tr>
            <td>Name: </td>
            <td colspan="2"> {{profile.name}} </td>
            <td>Blood Type:</td>
            <td colspan="2">
                {{profile.blood_type}}
            </td>
        </tr>

        <tr>
            <td>Past conditions: </td>
            <td colspan="2">
                <ul>
                    @for (cond of profile.past_conditions; track $index) {
                    <li>
                        {{cond.condition}}
                    </li>
                    }
                </ul>
            </td>
            <td>Current conditions: </td>
            <td colspan="2">
                <ul>
                    @for (cond of profile.current_conditions; track $index) {
                    <li>
                        {{cond.condition}}
                    </li>
                    }
                </ul>
            </td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td>Family History: </td>
            <td colspan="2">
                <ul>
                    @for (hist of profile.family_history; track $index) {
                    <li>
                        {{hist.affected_member}} ({{hist.condition}})
                    </li>
                    }
                </ul>
            </td>
            <td>Drug Allergy: </td>
            <td colspan="2">
                <ul>
                    @for (allergy of profile.drug_allergies; track $index) {
                    <li>
                        {{allergy.drug}} ({{allergy.severity}})
                    </li>
                    }
                </ul>
            </td>
        </tr>

        <tr>
            <td>Ongoing Treatments: </td>
            <td colspan="5">
                <ul>
                    @for (treat of profile.ongoing_treatments; track $index) {
                    <li>
                        {{treat.treatment}} --- {{treat.illness}} --- {{treat.start_date}}
                    </li>
                    }
                </ul>
            </td>
        </tr>
    </table>

    <div class="content-row" style="justify-content: flex-end;">
        <p-button [rounded]="true" type="button" (click)="edit()">EDIT</p-button>
    </div>

</div>
}

@if (isEditing) {
<div class="form-container">
    <div class="form-card">
        <form *ngIf="medProfile" [formGroup]="medProfile" (submit)="processForm()">

            <div>
                <input type="hidden" formControlName="user_id" [ngClass]="{'is-valid': valid('user_id')}" readonly>
            </div>

            <div>
                <p-ifta-label>
                    <label for="name">Name</label>
                    <input pInputText type="text" formControlName="name" [ngClass]="{'is-valid': valid('name')}">
                </p-ifta-label>
            </div>

            <div>
                <!-- <label for="blood_type">Blood Type:</label>
                <select name="blood_type" formControlName="blood_type">
                    <option value="A pos">A+</option>
                    <option value="A neg">A-</option>
                    <option value="B pos">B+</option>
                    <option value="B neg">B-</option>
                    <option value="AB pos">AB+</option>
                    <option value="AB neg">AB-</option>
                    <option value="O pos">O+</option>
                    <option value="O neg">O-</option>
                </select> -->
                <p-dropdown formControlName="blood_type" [options]="bloodTypes" placeholder="Select Your Bloodtype" />
            </div>

            <div>
                <div class="even-row">
                    <h5>Past Medical Conditions</h5>
                    <p-button icon="pi pi-plus" type="button" (click)="addPastConds()" />
                </div>
                <!-- <h5>Past Medical Conditions:</h5>
                <button type="button" (click)="addPastConds()">Add past condition</button> -->
                @if (pastConds.controls.length <= 0) { <h4>No past conditions recorded</h4>
                    }
                    @else {
                    <div formArrayName="past_conditions">
                        @for (cond of pastConds.controls; let idx = $index; track cond) {
                        <div [formGroupName]="idx" class="even-row">
                            <p-ifta-label>
                                <label for="condition">Past Condition</label>
                                <input pInputText type="text" formControlName="condition"
                                [ngClass]="{'is-valid': validCtrl(cond, 'condition')}">
                            </p-ifta-label>
                            <p-button icon="pi pi-times" type="button" (click)="delPastConds(idx)" />
                        </div>
                        }
                    </div>
                    }
            </div>

            <div>
                <div class="even-row">
                    <h5>Current Medical Conditions</h5>
                    <p-button icon="pi pi-plus" type="button" (click)="addCurrConds()"/>
                </div>

                @if (currConds.controls.length <= 0) { <h4>No current conditions recorded</h4>
                    }
                    @else {
                    <div formArrayName="current_conditions">
                        @for (cond of currConds.controls; let idx = $index; track cond) {
                            <div [formGroupName]="idx" class="even-row">
                                <p-ifta-label>
                                    <label for="condition">Current Condition</label>
                                    <input pInputText type="text" formControlName="condition"
                                    [ngClass]="{'is-valid': validCtrl(cond, 'condition')}">
                                </p-ifta-label>
                                <p-button icon="pi pi-times" type="button" (click)="delCurrConds(idx)" />
                            </div>
                        }
                    </div>
                    }
            </div>

            <div>
                <div class="even-row">
                    <h5>Family History</h5>
                    <p-button icon="pi pi-plus" type="button" (click)="addFamHist()" />
                </div>

                @if (famHist.controls.length <= 0) { <h4>No family history recorded</h4>
                    }
                    @else {
                    <div formArrayName="family_history">
                        @for (hist of famHist.controls; let idx = $index; track hist) {
                            <div [formGroupName]="idx" class="even-row">
                                {{idx + 1}}
                                <p-ifta-label>
                                    <label for="affected_member">Affected Family Member</label>
                                    <input pInputText type="text" formControlName="affected_member"
                                        [ngClass]="{'is-valid': validCtrl(hist, 'affected_member')}">
                                    </p-ifta-label>
                                    <p-ifta-label>
                                        <label for="condition">Condition</label>
                                        <input pInputText type="text" formControlName="condition"
                                            [ngClass]="{'is-valid': validCtrl(hist, 'condition')}">
                                    </p-ifta-label>
                                <p-button icon="pi pi-times" type="button" (click)="delFamHist(idx)" />
                            </div>
                        }
                    </div>
                    }
            </div>

            <div>
                <div class="even-row">
                    <h5>Drug Allergy:</h5>
                    <p-button icon="pi pi-plus" type="button" (click)="addDrugAlgy()" />
                </div>
                @if (drugAlgy.controls.length <= 0) { <h4>No drug allergy recorded</h4>
                    }
                    @else {
                    <div formArrayName="drug_allergies">
                        @for (drug of drugAlgy.controls; let idx = $index; track drug) {
                            <div [formGroupName]="idx" class="even-row">
                                {{idx + 1}}
                                <p-ifta-label>
                                    <label for="drug">Medicine Name</label>
                                    <input pInputText type="text" formControlName="drug"
                                        [ngClass]="{'is-valid': validCtrl(drug, 'drug')}">
                                </p-ifta-label>
                                <p-dropdown formControlName="severity" [options]="severityTypes" placeholder="Level of Severity" />
                                <p-button icon="pi pi-times" type="button" (click)="delDrugAlgy(idx)" />
                                <!-- <select name="severity" formControlName="severity">
                                    <option value="mild">mild</option>
                                    <option value="moderate">moderate</option>
                                    <option value="severe">severe</option>
                                </select> -->
                            </div>
                        }
                    </div>
                    }
            </div>

            <div>
                <div class="even-row">
                    <h5>Ongoing Treatment:</h5>
                    <p-button icon="pi pi-plus" type="button" (click)="addTreatments()" />
                </div>
                @if (treatments.controls.length <= 0) { <h4>No ongoing treatments recorded</h4>
                    }
                    @else {
                    <div formArrayName="ongoing_treatments">
                        @for (treatment of treatments.controls; let idx = $index; track treatment) {
                            <div [formGroupName]="idx" class="even-row">
                                {{idx + 1}}
                                <p-ifta-label>
                                    <label for="treatment">Type of Treatment</label>
                                    <input pInputText type="text" formControlName="treatment"
                                    [ngClass]="{'is-valid': validCtrl(treatment, 'treatment')}">
                                </p-ifta-label>
                                <p-ifta-label>
                                    <label for="illness">Type of Illness</label>
                                    <input pInputText type="text" formControlName="illness"
                                    [ngClass]="{'is-valid': validCtrl(treatment, 'illness')}">
                                </p-ifta-label>
                                <p-ifta-label>
                                    <label for="start_date">Treatment Start Date</label>
                                    <input pInputText type="date" formControlName="start_date"
                                    [ngClass]="{'is-valid': validCtrl(treatment, 'start_date')}">
                                </p-ifta-label>
                                <p-button icon="pi pi-times" type="button" (click)="delTreatment(idx)" />
                            </div>
                        }
                    </div>
                    }
            </div>

            <div style="text-align: right;">
                <p-button type="submit" [disabled]="medProfile.invalid">Submit</p-button>
            </div>
        </form>
    </div>
</div>

}