<nav class="medihub-navbar" #navbar>
    <div class="navbar-container">
        <div class="navbar-brand">

            <!-- Logo -->
            <div class="logo-placeholder">
                <img src="/assets/medihub-logo.svg" alt="MediHub Logo" class="logo">
            </div>

            <h2 class="brand-name">
                <a routerLink="/" class="brand-logo">MediHub</a>
            </h2>

            <!-- Hamburger toggle button -->
            <button class="navbar-toggle" (click)="toggleMenu()">
                <i class="pi pi-list"></i>
            </button>
        </div>

        <ul class="navbar-menu" [ngClass]="{'active': menuOpen}">
            <li class="navbar-item">
                <a routerLink="/dashboard" routerLinkActive="active">
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="navbar-item">
                <a routerLink="/records" routerLinkActive="active">
                    <span>Medical Records</span>
                </a>
            </li>
            <!-- <li class="navbar-item">
                <a routerLink="/medicine" routerLinkActive="active">
                    <span>Medicine</span>
                </a>
            </li> -->
            <li class="navbar-item">
                <a routerLink="/map" routerLinkActive="active">
                    <span>Map</span>
                </a>
            </li>
            <li class="navbar-item">
                <a routerLink="/profile" routerLinkActive="active">
                    <span>Profile</span>
                </a>
            </li>

            <li class="navbar-item logout">
                <p-button type="button" label="Log Out" icon="pi pi-sign-out" (click)="logout()"
                    styleClass="p-button-text p-button-danger"></p-button>
            </li>
        </ul>
    </div>
</nav>

<div class="spacer" #spacer></div>

<router-outlet></router-outlet>
