<div class="content-row">
     <div style="flex: 3;">
          <div class="content-card">
               <table class="styled-table">
                    <thead>
                         <tr>
                              <th colspan="3">Medicine Schedule</th>
                         </tr>
                         <tr>
                              <th>Morning</th>
                              <th>Afternoon</th>
                              <th>Night</th>
                         </tr>
                    </thead>

                    <tbody>
                         <td>
                              @for (med of mornMeds; track $index) {
                              <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 5px;">

                                   @if (med.taken){
                                   <!-- if med taken, display strikethrough med name -->
                                   <s>{{med.name}}</s>
                                   } @else {
                                   <input type="checkbox" (click)="reduceDosage(med.med_id)" style="margin-right: 3px;"/>
                                   <span>{{med.name}}</span>
                                   }
                              </div>

                              }
                         </td>
                         <td>
                              @for (med of aftMeds; track $index) {
                              <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 5px;">

                                   @if (med.taken){
                                   <!-- if med taken, display strikethrough med name -->
                                   <s>{{med.name}}</s>
                                   } @else {
                                   <input type="checkbox" (click)="reduceDosage(med.med_id)" style="margin-right: 3px;"/>
                                   <span>{{med.name}}</span>
                                   }
                              </div>

                              }
                         </td>
                         <td>
                              @for (med of nightMeds; track $index) {
                              <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 5px;">

                                   @if (med.taken){
                                   <!-- if med taken, display strikethrough med name -->
                                   <s>{{med.name}}</s>
                                   } @else {
                                   <input type="checkbox" (click)="reduceDosage(med.med_id)" style="margin-right: 3px;"/>
                                   <span>{{med.name}}</span>
                                   }
                              </div>

                              }
                         </td>
                    </tbody>

               </table>
          </div>
     </div>
     <div style="flex: 1;">
          <div class="content-card">

          </div>
     </div>
</div>



<button type="button" (click)="linkCalendar()">link</button>
<form *ngIf="newAppointment" [formGroup]="newAppointment" (submit)="processForm()">
     <table>
          <tr>
               <td>Summary: </td>
               <td>
                    <input type="text" formControlName="summary" readonly>
               </td>
          </tr>
          <tr>
               <td>Description: </td>
               <td>
                    <input type="text" formControlName="description">
               </td>
          </tr>
          <tr>
               <td>Start: </td>
               <td>
                    <input type="datetime-local" formControlName="start">
               </td>
          </tr>
          <tr>
               <td>End: </td>
               <td>
                    <input type="datetime-local" formControlName="end">
               </td>
          </tr>
          <tr>
               <td></td>
               <td>
                    <button type="submit" [disabled]="newAppointment.invalid">add appointment</button>
               </td>
          </tr>
     </table>
</form>


<h2>My Calendar Events</h2>
<button type="button" (click)="loadAppointments()">create</button>
@if (events) {
<ul>
     <li *ngFor="let event of events">
          {{ event.summary }} —
          {{ event.description }} -
          {{ event.start }} to
          {{ event.end}}
     </li>
</ul>
} @else {
<h2>no appointments</h2>
}